.resume {
    padding-top: 120px;  
    &__divider {
        margin: 25px auto 0 auto;
        border: 3px solid #ffa501;
        width: 60px;
        height: 0px;
    }
    &__title {
        position: relative;
        text-align: center;
        @include before_circle;
        &:before {
            top: -6px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__subtitle {
        text-align: center;
    }
    &__wrapper {
        padding: 60px 65px 0 65px;
        display: grid;
        grid-template-columns: repeat(2, 425px);
        column-gap: 135px;
    } 
    &__column {
        &-title {
            padding-left: 35px;
            position: relative;
            &:before {
                content: '';
                position: absolute;
                width: 15px;
                height: 15px;
                border-radius: 100%;
                background: $main-color;
                left: -8px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        ul {
            list-style-type: none;
            li {
                position: relative;
                &:after {
                    content: '';
                    width: 1px;
                    height: 100%;
                    position: absolute;
                    top: -30px;
                    left: 0;
                    background-color: #000;
                }
            }
        }
    }
    &__item {
        position: relative; 
        &:before {
            height: 1px;
            width: 43px;
            position: absolute;
            background-color: #000;
        }
        &-head {
            padding: 45px 0 0 100px;
            h4 {
                margin-bottom: 0;
            }
        }
        &-body {
            padding-left: 43px;
            margin-top: 12px;
        }
        &-icon {
            position: absolute;
            top: 50px;
            left: 45px;
            @include before_circle;
            img {
                position: absolute;
                left: 17px;
                top: 14px;
            }
        }
        &-location {
            font-size: 12px;
            line-height: 18px;
            margin-top: 5px;
        }
        &-body {
            font-size: 12px;
            line-height: 18px;
        }
    }
}