.skills {
    padding-top: 126px;
    &__wrapper {
        margin: 60px 10px 0 10px;
        display: grid;
        grid-template-columns: repeat(4, 270px);
        gap: 13px;
    }
    &__card {
        border: 1px solid #000;
        padding: 30px;
    }
    &__line {
        &-wrapper {
            margin-top: 128px;
            display: grid;
            grid-template-columns: repeat(3, 350px);
            column-gap: 50px;
            row-gap: 30px;
        }
        &-wrap {
            display: flex;
            justify-content: space-between;
        }
        &-text {
            position: relative;
            padding-top: -20px;
            &::before {
                content: '';
                position: absolute;
                z-index: -1;
                top: 20%;
                left: -10%;
                border-radius: 100%;
                width: 36px;
                height: 36px;
                background: $main-color;
            }
        }
        &-bar {
            display: block;
            border-radius: 4px;
            height: 14px;
            background: #e8e4de;
            span {
                display: block;
                background-color: #FFA501;
                height: 14px;
                border-radius: 4px;
            }
        }
    }
}